{% extends 'portfolio/base.html' %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    <title>Deepmoticon</title>
    <link href="/static/css/image_merge.css" rel = "stylesheet" type ="text/css" >
    {% load staticfiles %}

    {% block extrastyle %}
    {% static 'css/image_merge.css' %}
    {% endblock %}
</head>

<body>
{

{% block content %}
    <div class=wrap>
        <div class=subtitle>
            <h1> Do you want to make EMOTICON?  </h1>
         </div> 
        <div class = left>
            <h2>please upload your dog image!</h2>
            <form action='' enctype="multipart/form-data" method = 'POST'>
                {% csrf_token %}
                <input type = 'file' name = 'filename'>
                <input type = 'submit' value = 'upload'>
            </form>

            <h2>Test this Image!</h1>
            <table>   
                <tr>
                    <td>
                    <form name="paging">
                        {% csrf_token %}
                        <input type = 'hidden' name ='filename'>
                        <a href="javascript:testImage('dog1.jpg');"><img src= "/static/portfolio/deepmoticon/dog1.jpg" width = 200></a>
                    </form>
                    </td>
                    <td>
                        <form name="paging2">
                            {% csrf_token %}
                            <input type = 'hidden' name ='filename'>
                            <a href="javascript:testImage('dog2.jpg');"><img src= "/static/portfolio/deepmoticon/dog2.jpg" width = 200></a>
                        </form>
                    </td>
                    <td>
                        <form name="paging3">
                            {% csrf_token %}
                            <input type = 'hidden' name ='filename'>
                            <a href="javascript:testImage('dog3.jpg');"><img src= "/static/portfolio/deepmoticon/dog3.jpg" width = 200></a>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                    <form name="paging4">
                        {% csrf_token %}
                        <input type = 'hidden' name ='filename'>
                        <a href="javascript:testImage('dog4.jpg');"><img src= "/static/portfolio/deepmoticon/dog4.jpg" width = 200></a>
                    </form>
                    </td>
                    <td>
                        <form name="paging5">
                            {% csrf_token %}
                            <input type = 'hidden' name ='filename'>
                            <a href="javascript:testImage('dog5.jpg');"><img src= "/static/portfolio/deepmoticon/dog5.jpg" width = 200></a>
                        </form>
                    </td>
                    <td>
                        <form name="paging6">
                            {% csrf_token %}
                            <input type = 'hidden' name ='filename'>
                            <a href="javascript:testImage('dog6.jpg');"><img src= "/static/portfolio/deepmoticon/dog6.jpg" width = 200></a>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                    <form name="paging7">
                        {% csrf_token %}
                        <input type = 'hidden' name ='filename'>
                        <a href="javascript:testImage('dog7.jpg');"><img src= "/static/portfolio/deepmoticon/dog7.jpg" width = 200></a>
                    </form>
                    </td>
                    <td>
                        <form name="pagin8">
                            {% csrf_token %}
                            <input type = 'hidden' name ='filename'>
                            <a href="javascript:testImage('dog8.jpg');"><img src= "/static/portfolio/deepmoticon/dog8.jpg" width = 200></a>
                        </form>
                    </td>
                    <td>
                        <form name="paging9">
                            {% csrf_token %}
                            <input type = 'hidden' name ='filename'>
                            <a href="javascript:testImage('dog9.jpg');"><img src= "/static/portfolio/deepmoticon/dog9.jpg" width = 200></a>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <div class = right>
            <h3>Input Image</h3>
            <img src="/static/portfolio/deepmoticon/{{data}}" width = 400 style="vertical-align:middle">

            <h3>Output Emoticon</h3>
            <table>
                <tr>
                {% for file in video_files1 %} 
                        <td>
                            <video width="240" height="240" controls autoplay loop>
                                <source src="/static/portfolio/deepmoticon/{{file}}" type="video/mp4">
                            </video>
                        </td>
                    
                {% endfor %} 
                </tr>
                <tr>
                    {% for file in video_files2 %} 
                            <td>
                                <video width="240" height="240" controls autoplay loop>
                                    <source src="/static/portfolio/deepmoticon/{{file}}" type="video/mp4">
                                </video>
                            </td>
                        
                    {% endfor %} 
                    </tr>
            </table>    
        </div>
    </div>




<script>
    // content, cate, index를 인수로 받아 form 태그로 전송하는 함수
    function testImage(dogname='dog1.jpg') {
        var f = document.paging;
        var f = document.paging2;
        var f = document.paging3;
        var f = document.paging4;
        var f = document.paging5;
        var f = document.paging6;
        var f = document.paging7;
        var f = document.paging8;
        var f = document.paging9;
        f.filename.value = dogname;
        f.action = " "
        f.method = "post"
        f.submit();
    };
</script>
{% endblock %}    

</body>
</html>