{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}base.html{% endblock %}

{% block extrastyle %}
    {% static 'css/port_main.css' %}

{% endblock %}

{% block content %}
<div title>
    <h1> SHINEY's Portfolio</h1>
    <div class="w3-container">
        <h2>Slideshow Indicators</h2>
        <p>An example of using buttons to indicate how many slides there are in the slideshow, and which slide the user is currently viewing.</p>
      </div>
      
      <div class="w3-content w3-display-container" style="max-width:800px">
        <img class="mySlides" src="/static/portfolio/man-and-dog-1149400_1920.jpg" style="width:100%">
        <img class="mySlides" src="/static/portfolio/friends-3042751_1920.jpg"  style="width:100%">
        <img class="mySlides" src="/static/portfolio/man-and-dog-1149400_1920.jpg"  style="width:100%">
        <div class="w3-center " style="width:100%">
          <div class="w3-left " onclick="plusDivs(-1)">&#10094;</div>
          <div class="w3-right" onclick="plusDivs(1)">&#10095;</div>
          <span class="w3-badge " onclick="currentDiv(1)"></span>
          <span class="w3-badge" onclick="currentDiv(2)"></span>
          <span class="w3-badge " onclick="currentDiv(3)"></span>
        </div>
      </div>
      
      <script>
      var slideIndex = 1;
      showDivs(slideIndex);
      
      function plusDivs(n) {
        showDivs(slideIndex += n);
      }
      
      function currentDiv(n) {
        showDivs(slideIndex = n);
      }
      
      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " w3-white";
      }
      </script>

{% endblock %}