<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src = 'vue.js'></script> -->
    <style>
        
    </style>
</head>
<body>
    <div id="app">
        <ul v-if='seen' >
            <li v-for='message in messages' 
                v-vind:key = 'message.id'>
                {{message.text}}
            </li>
        </ul>
       
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                seen: true,
                // '', 0: false, 1, true
                messages: [
                    {
                        'id': 1,
                        'text': 'Hello JavaScript'
                        },
                    {
                        'id': 2,
                        'text': 'Hello Jquery'
                        },
                    {
                        'id': 3,
                        'text': 'Hello Vue.js'
                        },
                ]
            }
        })
    </script>
</body>
</html>
