{% extends 'dogonicon/base.html' %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>dogonicon</title>

</head>
<body>1

{% block content %}


<h1> Do you want to make EMOTICON? <br>
    please upload your dog image!
</h1>


<form aceion='upload' enctype="multipart/form-data" method = 'POST'>
{% csrf_token %}
<input type = 'file' name = 'filename'>
<input type = 'submit' value = 'upload'>

</form>

{% endblock %}



</body>
</html>