<!DOCTYPE >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width">

<title>SHINEY</title>
<!-- <link rel="stylesheet" type="text/css" href="home-styleSheet.css" /> -->
<!-- <script type="text/javascript" src="home_js.js"></script> -->
{% load static %}

<style >
div{width: 100%;
    }
div.left{
    width: 50%;
    float: left;
}
div.right{
    width: 50%;
    float: right;
}

</style>

</head>
<body>
	<div class = 'wrapper1'>
        <div class=left>
            <a href="portfolio/"><img src = '../static/home/1.aboutus.jpg' > </a>
        </div>
        <div class = right>
            <a href="portfolio/"><img src = '../static/home/2.portfolio.jpg'  > </a>
        </div>
    </dig>
	<div class = 'wrapper2'>
        <div class=left>
            <a href="portfolio/"><img src = '../static/home/3.works.jpg'  > </a>
        </div>
        <div class=right>
            <a href="portfolio/"><img src = '../static/home/4.github.jpg' > </a>
        </div>
	</div>
</body>
</html>