<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>http://www.blueb.co.kr</title>
<link rel="stylesheet" type="text/css" href="home-styleSheet.css" />

<script type="text/javascript" src="home_js.js"></script>
{% load static %}
</head>
<body>
	<ul class="slides">
		<input type="radio" name="radio-btn" id="img-1" checked />
		<li class="slide-container">
			<div class="slide">
				<img src="/static/adorable-3344414_1920.jpg" width=300/>
			</div>
			<div class="nav">
				<label for="img-6" class="prev">&#x2039;</label>
				<label for="img-2" class="next">&#x203a;</label>
			</div>
		</li>
		<input type="radio" name="radio-btn" id="img-2" />
		<li class="slide-container">
			<div class="slide">
			  <img src="static/friends-3042751_1920.jpg" width=300 />
			</div>
			<div class="nav">
				<label for="img-1" class="prev">&#x2039;</label>
				<label for="img-3" class="next">&#x203a;</label>
			</div>
		</li>
	
		<input type="radio" name="radio-btn" id="img-3" />
		<li class="slide-container">
			<div class="slide">
			  <img src="/static/man-and-dog-1149400_1920.jpg" width=300 />
			</div>
			<div class="nav">
				<label for="img-2" class="prev">&#x2039;</label>
				<label for="img-4" class="next">&#x203a;</label>
			</div>
		</li>
	
		<input type="radio" name="radio-btn" id="img-4" />
		<li class="slide-container">
			<div class="slide">
			  <img src="/static/adorable-1850276_1920.jpg" width=300/>
			</div>
			<div class="nav">
				<label for="img-3" class="prev">&#x2039;</label>
				<label for="img-5" class="next">&#x203a;</label>
			</div>
		</li>
	
		<input type="radio" name="radio-btn" id="img-5" />
		<li class="slide-container">
			<div class="slide">
			  <img src="/static/dog-4374473_1920.jpg" width=300/>
			</div>
			<div class="nav">
				<label for="img-4" class="prev">&#x2039;</label>
				<label for="img-6" class="next">&#x203a;</label>
			</div>
		</li>
		<input type="radio" name="radio-btn" id="img-6" />
		<li class="slide-container">
			<div class="slide">
			  <img src="/static/dog-walking-1070076_1920.jpg" width=300/>
			</div>
			<div class="nav">
				<label for="img-5" class="prev">&#x2039;</label>
				<label for="img-1" class="next">&#x203a;</label>
			</div>
		</li>
	
		<li class="nav-dots">
		  <label for="img-1" class="nav-dot" id="img-dot-1"></label>
		  <label for="img-2" class="nav-dot" id="img-dot-2"></label>
		  <label for="img-3" class="nav-dot" id="img-dot-3"></label>
		  <label for="img-4" class="nav-dot" id="img-dot-4"></label>
		  <label for="img-5" class="nav-dot" id="img-dot-5"></label>
		  <label for="img-6" class="nav-dot" id="img-dot-6"></label>
		</li>
	</ul>
</body>
</html>