<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>http://www.blueb.co.kr</title>
<link rel="stylesheet" type="text/css" href="home-styleSheet.css" />

<script type="text/javascript" src="home_js.js"></script>
{% load static %}
</head>
<body>
	<a href="portfolio/"><img src = '../static/home/adorable-1850276_1920.jpg' width = 50%> </a>
</body>
</html>