<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="shortcut icon" href="../../static/images/icons/favicon.ico">

    <!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/dot-luv/jquery-ui.css">
    <style>
        button{
            width : 100px;
            height: 50px;
        }

        .textInput{
            width: 1000px;
        }

        .indexBtn{
            width: 30px;
            background-color: aqua;
        }

        .subDiv{
            background: #ccc;
            padding: 10px;
            width: 1020px;
            border-radius: 5px;
        }
        .timeInput{
            width:200px;
        }
    </style>


</head>
<body>
    <video id="myVideo" controls  width="600" height="400" >
        <source src="../static/highlight/test/video/test_2.mp4" type="video/mp4" />
        <source src="../static/highlight/test/video/test_2.webm" type="video/webM" />
        <source src="../static/highlight/test/video/test_2.ogv" type="video/ogg" />
        <p>Your browser does not support the video tag.</p>
    </video>
    <div class="current_time"></div>

<!-- <h2 id = "title"></h2> -->
<!-- <h2>{{sub_list}}</h2>-->
<!-- <div id="sub_index"></div>
<div id="sub_text"></div>
<div id="sub_time"></div> -->

<!-- <div id="suball">  </div> -->
<form action="/highlight/subtitle/makesubtitle" method = "POST" id = suball>
    <!-- <input type="submit" value="확인" id = conformBtn> -->
</form>

<script>
    let sub_index = "{{sub_index}}"
    let sub_time = "{{sub_time}}"
    let sub_text = "{{sub_text}}"

    sub_index = sub_index.split(',')
    sub_time = sub_time.split(',')
    sub_text = sub_text.split(",")

    var video = $('#myVideo')

    
    let suball = document.getElementById('suball')

    var parser = new DOMParser;
   
    video.on('loadedmetadata', function() {
        // maxduration = video2[0].duration;
        //$(".current_time").text(video.currentTime.toFixed(2));
        $(".current_time").text(video.currentTime);

        // $('.current').text(video.currentTime);
    });

    //$(".current_time").text(video.currentTime.toFixed(2));

    function calc(event) {
        // btn = event.target || event.srcElement;
        // alert(btn)
        var IndexbtnId = event.id;
        var IndexbtnValue = event.value;

        // alert(IndexbtnValue);
        $.ajax({url: '', 
				type: 'POST',
				data: {'index': IndexbtnValue
				}
			})
			.done(function(response){
                // alert(response);
                var playtime = response.startTime;
                //var video = $('#myVideo')

                alert(playtime)
				video.currentTime = Number(playtime);

            });
    };


    for (var i=0; i<sub_index.length; i++){

        //div
       var subDiv = document.createElement('div');
       subDiv.setAttribute('id', 'subDiv'+i);
       subDiv.setAttribute('class', 'subDiv');
       subDiv.setAttribute('text', sub_index[i]);
       document.getElementById('suball').appendChild(subDiv);

        //form
        // var subform = document.createElement('form');
        // subform.setAttribute('method', 'POST');
        // // subform.setAttribute('type', 'submit');
        // subform.setAttribute('name', 'subform'+i);
        // subform.setAttribute('class', 'subform');
        // subform.setAttribute('id', 'subform'+i);
		// subform.setAttribute('action', '');

        // subDiv.append(subform)

        
        //index
        var domIndex = parser.parseFromString(
            '<!doctype html><body>' + sub_index[i],
            'text/html');
        var decodedIndex = domIndex.body.textContent;
        var decodedIndex = decodedIndex.replace("'", "").replace("[",'').replace(']','').replace("'",'');

        var indexBtn = document.createElement('input'); 
        indexBtn.setAttribute('id', 'indexBtn'+i);
        indexBtn.setAttribute('class', 'indexBtn');
        // indexBtn.setAttribute('type', 'submit');
        indexBtn.setAttribute('name', 'indexBtn'+i);
        indexBtn.setAttribute('type', "button");
        indexBtn.setAttribute('value',decodedIndex);
        indexBtn.setAttribute('onclick', "calc(this)");
        subDiv.appendChild(indexBtn);

        //time
        var domTime = parser.parseFromString(
            '<!doctype html><body>' + sub_time[i],
            'text/html');
        var decodedTime = domTime.body.textContent;
        var decodedTime = decodedTime.replace("'", "").replace("[",'').replace(']','').replace("'",'');

        var timeInput = document.createElement('input');
        timeInput.setAttribute('id', 'timeInput'+i);
        timeInput.setAttribute('class', 'timeInput');
        timeInput.setAttribute('name', 'timeInput'+i);
        timeInput.setAttribute('value', decodedTime);
        subDiv.appendChild(timeInput);

        //p
        var ptag = document.createElement('p');
        subDiv.appendChild(ptag);

        var domText = parser.parseFromString(
            '<!doctype html><body>' + sub_text[i],
            'text/html');
        var decodedText = domText.body.textContent;
        var decodedText = decodedText.replace("'", "").replace("[",'').replace(']','').replace("'",'');

        //text
        var textInput = document.createElement('input');
        textInput.setAttribute('id', 'textInput'+i);
        textInput.setAttribute('name', 'textInput'+i);
        textInput.setAttribute('class', 'textInput');
        // textInput.setAttribute('placeholder', decodedText);
        textInput.setAttribute('value', decodedText);

        subDiv.appendChild(textInput);

        //p
        var ptag = document.createElement('p');
        suball.appendChild(ptag);
}; 

//submit <input type="submit" value="확인" id = conformBtn>
var submitBtn = document.createElement('input');
        submitBtn.setAttribute('type', 'submit');
        submitBtn.setAttribute('class', 'submitBtn');
        submitBtn.setAttribute('value', '확인');
        suball.appendChild(submitBtn);

// $('#conformBtn').on('click', function(){

// })

        
</script>
    


</body>
</html>




