<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="shortcut icon" href="../../static/images/icons/favicon.ico">

    <!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/dot-luv/jquery-ui.css">
    <style>
        button{
            width : 100px;
            height: 50px;
        }
    </style>


</head>
<body>
    <video id="myVideo" controls  width="600" height="400" >
        <source src="../static/highlight/test_title.mp4" type="video/mp4" />
        <source src="../static/highlight/test_title.webm" type="video/webM" />
        <source src="../static/highlight/test_title.ogv" type="video/ogg" />
        <p>Your browser does not support the video tag.</p>
    </video>

<!-- <h2 id = "title"></h2> -->
<!-- <h2>{{sub_list}}</h2>
<h2>{{sub_dict}}</h2> -->

<div id="subtitle">  </div>

<script>
    //let sub_length = "{{sub_length}}"
    //let sub_time = "{{sub_time}}"
    //let sub_text = "{{sub_text}}"
    //let sub_dict = "{{sub_dict}}"

    // sub_length = JSON.stringify(sub_length);
    //alert(sub_length.length);
    //alert(sub_time.length);
    //alert(sub_text.length);

    

    //div만들기
    // data = {'1': ['00:00:00-00:00:02','안녕하세요'],
    //         '2': ['00:00:02-00:00:04','반갑습니다']};

    //for (var i in ){
        // alert(data[key][0]);
        //sub > button, div, input 
      //  var sub = document.createElement('div');
      //  sub.setAttribute('method', 'post');
       // sub.setAttribute('id', 'sub'+key);
        //sub.setAttribute('text', key);
//        document.getElementById('subtitle').appendChild(sub);

        // var indexBtn = document.createElement('input');
        // indexBtn.setAttribute('id', 'indexBtn'+key);
        // indexBtn.setAttribute('type', "submit");
        // indexBtn.setAttribute('value', key);
        // sub.appendChild(indexBtn);

        // var timeInput = document.createElement('input');
        // timeInput.setAttribute('id', 'timeInput'+key);
        // timeInput.setAttribute('value', data[key][0]);
        // sub.appendChild(timeInput);

        // var ptag = document.createElement('p');
        // sub.appendChild(ptag);

        // var textArea = document.createElement('textarea');
        // textArea.setAttribute('id', 'textArea'+key);
        // textArea.setAttribute('name', 'textArea'+key);
        // textArea.setAttribute('class', 'textArea');
        // textArea.setAttribute('rows', '2');
        // textArea.setAttribute('cols', '100');
        // textArea.setAttribute('placeholder', data[key][1]);
        // sub.appendChild(textArea);

        // var textInput = document.createElement('input');
        // textInput.setAttribute('id', 'textInput'+key);
        // textInput.setAttribute('type', "button");
        // textInput.setAttribute('value', '확인');
        // sub.appendChild(textInput);
//}; 

        
</script>
    


</body>
</html>




